# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Build directories
build/
out/

# SSH keys
*_rsa
*_rsa.pub
182060
182060.pub

# Other
*.key
*.cert
